
header{
    grid-area: hed  ;
    background-color: #9d69a3;
    border-radius: 2px;
}
header img{
    opacity: 0.6;
    background-color: #9d69a3;
}
span{
    font-size: 35px;
    color: #320636;
  }