nav{
    grid-area: nav;
    background: rgb(221, 193, 224);
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgb(157,105,163);
    height: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  .item{
      color: #320636;
      margin: 3px;
      font-weight: 700;
  }
  a{
      text-decoration: none;
      
  }
  a.active{
    font-weight:750;
    text-shadow:1px 1px 1px #320636;
  }