.nav {
    grid-area: n;
    background-color: #c9184a;
    padding: 20px;
    border-radius: 7px;
    height: 35vh;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}