*{
  margin: 1px;
  
}

.app-wrapper{
  height: 99vh;
 margin: 0 auto;
  display: grid;
  grid-template-areas: 
  'hed hed '
  'nav cont';
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

.mainZone{
  border-radius: 2px;
  background: #f0d3f3;
  background: linear-gradient(126deg, rgba(194,167,217,1) 0%, rgba(233,233,233,1) 100%);
  grid-area: cont;
    box-shadow: 1px 1px 5px rgb(157,105,163);
}


